<div class="container mx-auto">
  {% paginate search.results by 10 %}
    <h1 class="text-xl my-4 text-center">Search results</h1>

    <div class="flex justify-center items-center">
      <form action="{{ routes.search_url }}" method="get" class="border flex rounded">
        <input
          type="search"
          name="q"
          class="outline-none px-4 w-64"
          placeholder="Search"
          value="{{ search.terms | escape }}"
        >
        <button type="submit" class="bg-gray-200 px-4">Search</button>
      </form>
    </div>

    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="max-w-6xl mx-auto">
          <p class="text-center my-4">
            Found
            <span class="font-bold">
              {{ search.results.size }}
            </span>
            results for the search term: <span class="font-bold">{{ search.terms | escape }}</span>.
          </p>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for item in search.results %}
              {% case item.object_type %}
                {% when 'product' %}
                  {% render 'product-card', product_variable: item %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

    {% else %}
      <div class="text-center my-4">
        <p>
          No results found for the search term: <span class="font-bold">{{ search.terms | escape }}</span>. Try to use a
          different term.
        </p>
      </div>
    {% endif %}

    {% render 'pagination', pagination_variable: paginate %}
  {% endpaginate %}
</div>
